<template>
  <div class="page-container about-page-padding">
    <FloatingBack/>
    <SimpleBanner 
      v-bind:path="'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/banners%2Fdark-01.png?alt=media&token=95a2e111-ae9a-42da-89fe-d47ffcc18b32'"
      v-bind:title="'Drinks on Me'"
      v-bind:id="'drinks-on-me-banner'"
      v-bind:color="'#61c9d4'"
    />
    <div class="page-content">
      <div class="max-width-row">
        <div class="honor-max-width">
          <div class="page-details">
            <div class="about-row">
              <div class="about-column-left">
                <h4>Asynchronous Streaming</h4>
                <p class="about-p">Drinks on Me is a party game where a 'host' phone asks the 'client' phones a series of questions where users anonymously vote for one of the players. After all votes are in, the player with the most votes is revealed. Players can react to the result by tapping emojis which displays a corresponding face on each players screen.</p>
                <h4>Development</h4>
                <p class="about-p">I designed and developed this app from the ground up. I programmed all of the frontend and backend of this app, and designed all of the art. Server side functions and network listeners drive the core gameplay of this app.</p>
              </div>
            </div>
            <div class="about-image-container">
              <Carousel
                v-bind:paths="[
                  'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/drinks-on-me%2FHome-compressor.png?alt=media&token=db8ea1b5-0961-4f26-9193-d3a9fa10d4bb',
                  'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/drinks-on-me%2FImage1-compressor.png?alt=media&token=94edc448-8906-4c8c-9269-af4f0d61f11c',
                  'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/drinks-on-me%2FNicole2-compressor.png?alt=media&token=5804d74e-869a-476f-9415-083fd3ca52d5',
                  'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/drinks-on-me%2FImage3-compressor.png?alt=media&token=f0b05507-a738-4ab2-bbdf-9686fca0228f',
                  'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/drinks-on-me%2FImage5-compressor.png?alt=media&token=b92735a3-fb62-467f-9e49-adb2269f525b',
                  'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/drinks-on-me%2FImage6-compressor.png?alt=media&token=31d891ad-41f7-4a5c-a95c-9c7509d837df',
                ]"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SimpleBanner from '@/components/SimpleBanner.vue'
import FloatingBack from '@/components/FloatingBack.vue'
import DescriptionTemplate from '@/components/DescriptionTemplate.vue'
import Carousel from '@/components/Carousel.vue'
import PhotoCard from '@/components/PhotoCard.vue'

export default {
  name: 'DrinksOnMe',
  components: {
    SimpleBanner,
    FloatingBack,
    DescriptionTemplate,
    Carousel,
    PhotoCard
  },
  data() {
    return {

    }
  },
  mounted(){

  }
}
</script>

<style lang="scss">
@import '@/global.scss';

</style>


