<template>
  <div class="page-container">
    <PageBanner v-bind:path="'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/jake%2Fdesk5-compressor.jpg?alt=media&token=ec07a022-ef08-4e67-b8b8-836c6947d78a'"/>
    <div class="page-content">
      <div class="max-width-row">
        <div class="honor-max-width">
          <h3>Projects</h3>
        </div>
      </div>
      <div class="max-width-row">
        <div class="honor-max-width center-column">
          <Carousel
            v-bind:id="'home-app-display'"
            v-bind:paths="[
              'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/drinks-on-me%2FHome-compressor.png?alt=media&token=db8ea1b5-0961-4f26-9193-d3a9fa10d4bb',
              'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/jupiter%2Fimage1.jpg?alt=media&token=381a97ff-749f-4f51-8822-573c72b4b57d',
              'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/drift%2FArtboard-4-compressor.jpg?alt=media&token=c59db444-d167-4ad7-9f58-f9ff8f203007',
              'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/mobile%2FArtboard%207.jpg?alt=media&token=f7321fa6-d47b-4819-aa57-570758becef0',
              'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/safety%2FArtboard-5-compressor.jpg?alt=media&token=7181507e-d14d-497e-b5cf-eea2ba557919',
            ]"
          />
          <div class="home-app-card-grid">
            <CardGrid/>
          </div>
        </div>
      </div>
      <div class="photo-grid-padding">
        <div class="max-width-row">
          <div class="honor-max-width">
            <Artwork/>
          </div>
        </div>
      </div>
      <div class="design-grid-padding">
        <div class="max-width-row">
          <div class="honor-max-width">
            <h3>UI/UX</h3>
          </div>
        </div>
        <div class="max-width-row">
          <div class="honor-max-width">
            <PDFLinks/>
          </div>
        </div>
      </div>
      <div class="skills-padding">
        <div class="max-width-row">
          <div class="honor-max-width">
            <h3>My Skills</h3>
          </div>
        </div>
      </div>
      <div class="max-width-row">
        <div class="honor-max-width">
          <SkillsGrid/>
        </div>
      </div>
      <FancyFooter/>
    </div>
  </div>
</template>

<script>
import PageBanner from '@/components/PageBanner.vue'
import Carousel from '@/components/Carousel.vue'
import Artwork from '@/components/Artwork.vue'
import SkillsGrid from '@/components/SkillsGrid.vue'
import SplashButtons from '@/components/SplashButtons.vue'
import PDFLinks from '@/components/PDFLinks.vue'
import CardGrid from '@/components/CardGrid.vue'
import FancyFooter from '@/components/FancyFooter.vue'
import 'materialize-css';
import 'materialize-css/dist/css/materialize.min.css';

export default {
  name: 'Home',
  components: {
    PageBanner,
    Carousel,
    Artwork,
    SkillsGrid,
    SplashButtons,
    PDFLinks,
    CardGrid,
    FancyFooter
  },
  methods:{
    drinksonme(){
      this.$router.push({ path: 'drinks-on-me' });
    },
    jupiter(){
      this.$router.push({ path: 'jupiter' });
    },
    drift(){
      this.$router.push({ path: 'drift' });
    },
    pimsmobile(){
      this.$router.push({ path: 'pims-mobile' });
    },
    pimssafety(){
      this.$router.push({ path: 'pims-safety' });
    }
  }
}
</script>

<style lang="scss">
  @import '@/global.scss';
.page-content{
  transform: translate(0px, -10vh);
}
.photo-grid-padding{
  margin-top: 60px;
}
.design-grid-padding{
  margin-top: 60px;
}
.splash-button-padding{
  margin-bottom: 5vh;
  margin-top: 100px;
}
.skills-padding{
  margin-top: 80px;
}
h3{
  font-size: 24px;
  margin-bottom: 30px !important;
}
.test-apps{
  width: 80vw;
}
.home-app-card-grid{
  margin-top: 80px;
}
.home-sub{

}

</style>
