<template>
  <div class="page-container about-page-padding">
    <FloatingBack/>
    <SimpleBanner 
      v-bind:path="'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/banners%2Freal.png?alt=media&token=60f618a6-cb76-4e28-b63d-e7b6273b59b0'"
      v-bind:title="'Jupiter'"
      v-bind:id="'jupiter-banner-main'"
      v-bind:color="'#6079a0'"
      />
    <div class="page-content">
      <div class="max-width-row">
        <div class="honor-max-width">
          <div class="page-details">
            <div class="about-row">
              <div class="about-column-right">
                <h4>Pacman shooter</h4>
                <p class="about-p">Lost in orbit around a dying planet, hunt the creatures that lurk in the shadows. Use missiles and traps as you destroy the evil riddled throughout this abandoned world. As you navigate through the galaxy, you will encounter faster and more powerful creatures that will require you to use clever tactics to avoid disaster.</p>
                <h4>Development</h4>
                <p class="about-p">I designed this game from the ground up, using programs like Illustrator and After Effects to simulate game scenarios and create responsive mockups. I then put everything in motion and worked on developing efficient algorithms and data structures to create the best user experience possible for both Android and iOS devices.</p>
              </div>
            </div>
            <div class="about-image-container">
              <Carousel
                v-bind:id="'jupiter-about-display'"
                v-bind:paths="[
                  'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/jupiter%2Fimage1.jpg?alt=media&token=381a97ff-749f-4f51-8822-573c72b4b57d',
                  'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/jupiter%2Fimage2.jpg?alt=media&token=23ea3164-04ab-4080-9428-f9e592dd9605',
                  'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/jupiter%2Fimage3.jpg?alt=media&token=b186486a-2748-4ea1-95e7-18ecb1b080c5',
                  'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/jupiter%2Fimage4.jpg?alt=media&token=c7f7c077-d110-4a84-a114-74eda29da22d',
                  'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/jupiter%2Fimage5.jpg?alt=media&token=0fd8a0ea-678d-4b2e-86a7-444d7e7e2920'
                ]"
              />
            </div>
            <div class="max-width-row about-wide-col">
              <div class="about-image relative">
                <VideoPlayer 
                  v-bind:title="'jupiter-video'"
                  v-bind:image="'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/jupiter%2Fimage1.jpg?alt=media&token=381a97ff-749f-4f51-8822-573c72b4b57d'" 
                  v-bind:video="require('@/assets/videos/jupiter.mp4')"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SimpleBanner from '@/components/SimpleBanner.vue'
import FloatingBack from '@/components/FloatingBack.vue'
import DescriptionTemplate from '@/components/DescriptionTemplate.vue'
import Carousel from '@/components/Carousel.vue'
import VideoPlayer from '@/components/VideoPlayer.vue'

export default {
  name: 'Jupiter',
  components: {
    SimpleBanner,
    FloatingBack,
    DescriptionTemplate,
    Carousel,
    VideoPlayer
  },
  data() {
    return {
      
    }
  },
  mounted(){

    
  }
}
</script>

<style lang="scss">
@import '@/global.scss';

</style>


