<template>
  <div class="page-container">
    <FloatingBack/>
    <SimpleBanner 
      v-bind:path="'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/banners%2Fwallpaper.png?alt=media&token=9cdb8266-b4df-47ba-802a-741665ba11e9'"
      v-bind:title="'PIMS Mobile'"
      v-bind:id="'pims-mobile-banner'"  
    />
    <div class="page-content">
      <div class="max-width-row">
        <div class="honor-max-width">
          <div class="page-details">
            <div class="about-row">
              <div class="about-column-left">
                <h4>Electronic Form Execution</h4>
                <p class="about-p">PIMS Mobile allows users to execute electronic forms in the field regardless of network connectivity. Merck Inc. uses this app to manage and distribute thousands of confidential documents in facilities worldwide.</p>
                <h4>Development</h4>
                <p class="about-p">I designed the entire UI, and developed the entire front end of the mobile interface. I worked in a team of 10 other developers in an agile environment to meet client deadlines. </p>
                
              </div>
            </div>
            <div class="about-image-container">
              <Carousel
                v-bind:paths="[
                    'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/mobile%2FArtboard%2014.jpg?alt=media&token=55cb1fb2-15ca-4cca-bcec-ad94b10aa07c',
                    'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/mobile%2FArtboard%2016.jpg?alt=media&token=1eca4761-90bc-4ebf-8d20-c26a437e9c0b',
                    'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/mobile%2FArtboard%202.jpg?alt=media&token=0d8fa290-8ca2-4b6e-bb89-76b67bab8add',
                    'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/mobile%2FArtboard%203.jpg?alt=media&token=54f976d4-970d-46e9-9094-da5f35baf942',
                    'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/mobile%2FArtboard%204.jpg?alt=media&token=5ba5d87b-6094-4638-810a-982bb8512cd8',
                    'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/mobile%2FArtboard%205.jpg?alt=media&token=ddb0ffce-83a9-4e13-a9c0-f0da0e032d5c',
                    'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/mobile%2FArtboard%206.jpg?alt=media&token=f0e385b3-f57f-4a51-a096-310d8c7bb199',
                    'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/mobile%2FArtboard%207.jpg?alt=media&token=f7321fa6-d47b-4819-aa57-570758becef0',
                    'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/mobile%2FArtboard%208.jpg?alt=media&token=8edf1af4-f531-4ce3-a6ef-97df593d1c1a',

                ]"
              />
            </div>
            tablet-description
            <div id="tablet-description">
              <h4>Design</h4>
              <p class="about-p">The mobile app is aimed for professionals in the field. The app layout is responsive, and will adapt to better fit the screen of the device. Material design standards are used in both the tablet and phone interfaces.</p>
            </div>
            <div class="about-center">
              <div id="gradient-stack">
                <div id="tablet-container"></div>
                <div id="gradient-stack-cover"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SimpleBanner from '@/components/SimpleBanner.vue'
import FloatingBack from '@/components/FloatingBack.vue'
import DescriptionTemplate from '@/components/DescriptionTemplate.vue'
import Carousel from '@/components/Carousel.vue'
import PhotoCard from '@/components/PhotoCard.vue'

export default {
  name: 'PIMSMobile',
  components: {
    SimpleBanner,
    FloatingBack,
    DescriptionTemplate,
    Carousel,
    PhotoCard
  },
  data() {
    return {

    }
  },
  mounted(){

  }
}
</script>

<style lang="scss">
@import '@/global.scss';

#tablet-container{
  position: absolute;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/mobile%2Fpims-tablet-compressor.png?alt=media&token=2c3a4624-e943-4ab5-bee8-ebe7b0ab3bc7');
  width: 845px;
  height: 1060px;
  background-repeat: no-repeat;
  background-position: 50% 50%; 
  background-size: cover;
  z-index: 50;
  overflow: hidden;
  margin-bottom: 5px;
}

#gradient-stack{
  position: relative;
  width: 845px;
  height: 1070px;
  overflow: hidden;
  margin-top: 40px;
}

#gradient-stack-cover{
  bottom: -5px;
  position: absolute;
  background: linear-gradient(0deg, rgba(4,8,15,1) 10%, rgba(0,6,16,0.15) 100%);
  width: 845px;
  height: 1070px;
  z-index: 100;
  overflow: hidden;
}

#tablet-description{
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 950px) {
  #gradient-stack{
    width: 480px;
    height: 600px;
  }
  #tablet-container{
    width: 480px;
    height: 595px;
  }
  #gradient-stack-cover{
    width: 480px;
    height: 600px;
  }
}

@media only screen and (max-width: 600px) {
  #gradient-stack{
    width: 270px;
    height: 330px;
  }
  #tablet-container{
    width: 270px;
    height: 325px;
  }
  #gradient-stack-cover{
    width: 270px;
    height: 330px;
  }
}

</style>

