<template>
  <div class="page-container about-page-padding">
    <FloatingBack/>
    <SimpleBanner 
      v-bind:path="'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/banners%2Fwallpaper-compressor.png?alt=media&token=e92e9ea0-dee2-4a8b-9f69-5539295b42da'"
      v-bind:title="'PIMS Safety'"
      v-bind:id="'pims-safety-banner'" 
      v-bind:color="'#8db2c5'"
    />
    <div class="page-content">
      <div class="max-width-row">
        <div class="honor-max-width">
          <div class="page-details">
            <div class="about-row">
              <div class="about-image relative">
                <VideoPlayer 
                  v-bind:title="'safety-video'"
                  v-bind:image="'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/safety%2FArtboard-5-compressor.jpg?alt=media&token=7181507e-d14d-497e-b5cf-eea2ba557919'" 
                  v-bind:video="require('@/assets/videos/safety.mp4')"
                />
              </div>
              <div class="about-column-right">
                <h4>Safety Programs</h4>
                <p class="about-p">PIMS Safety is used worldwide and provides construction managers realtime data and analytics about safety hazards and distributes safety information to construction professionals. This app distributes safety pdfs, safety alerts, and can send live reports of safety hazards to create safer work environments.</p>
                <h4>Development</h4>
                <p class="about-p">I designed the entire app from the ground up, working with a team of three other developers to provide a clean user experience. The app interacts with the web API to sync safety data from the mobile app into the web app.</p>
              </div>
            </div>
            <div class="about-image-container">
              <Carousel
                v-bind:paths="[
                    'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/safety%2FArtboard-1-compressor.jpg?alt=media&token=ab68d15a-40de-432e-bc8b-26c43b6cfbc5',
                    'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/safety%2FArtboard-3-compressor.jpg?alt=media&token=6393e93b-cdc3-4453-a6ee-e5df66964a95',
                    'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/safety%2FArtboard-4-compressor.jpg?alt=media&token=ca887439-492a-4428-a2c6-450245191dbc',
                    'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/safety%2FArtboard-5-compressor.jpg?alt=media&token=7181507e-d14d-497e-b5cf-eea2ba557919',
                    'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/safety%2FArtboard-6-compressor.jpg?alt=media&token=da8ab81f-6267-4ad5-9ecc-847bf3170cd1',
                    'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/safety%2FArtboard-7-compressor.jpg?alt=media&token=02c8c1e7-35b2-474a-be9c-01adda894558',
                ]"
              />
            </div>
             <div class="about-center">
              <div id="xd-safety-container">
                <PhotoCard v-bind:image="'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/safety%2Fsod-compressor.png?alt=media&token=62071013-9004-43b6-972d-596004773ea5'" v-bind:id="'safety-xd'"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SimpleBanner from '@/components/SimpleBanner.vue'
import FloatingBack from '@/components/FloatingBack.vue'
import DescriptionTemplate from '@/components/DescriptionTemplate.vue'
import Carousel from '@/components/Carousel.vue'
import PhotoCard from '@/components/PhotoCard.vue'
import VideoPlayer from '@/components/VideoPlayer.vue'

export default {
  name: 'PIMSSafety',
  components: {
    SimpleBanner,
    FloatingBack,
    DescriptionTemplate,
    Carousel,
    PhotoCard,
    VideoPlayer
  },
  init(){
   
  },
  data() {
    return {
      loaded: String
    }
  },
  mounted(){
    
  },
  methods: {
    
  }
}
</script>

<style lang="scss">
@import '@/global.scss';

#xd-safety-container{
  width: 700px;
  height: 900px;
  margin-top: 100px;
}

@media only screen and (max-width: 900px) {
  #xd-safety-container{
    width: 540px;
    height: 700px;
  }
}

@media only screen and (max-width: 600px) {
  #xd-safety-container{
    width: 340px;
    height: 455px;
  }
}
</style>

