<template>
  <div class="app-bar">
    <div class="app-bar-background" id="app-bar-background">
      <div class="page-title-container">
        <h6>{{this.selected}}</h6>
      </div>
    </div>
    <div class="menu-row">
      <div class="sidenav-trigger" data-target="slide-out" id="menu-icon-target">
       <div class="touch-padding">
          <div class="menu-icon-container"></div>
       </div>
      </div>
    </div>
  </div>
</template>

<script>
import anime from 'animejs';

export default {
  name: 'Appbar',
  props:{
    position: 0.0,
    route: String,
  },
  data() {
    return {
      visible: false,
      oldY: 0.0,
      selected: ""
    }
  },
  init(){
    this.selected = "";
    this.visible = false;
    this.oldY = 0.0;

    this.updateRoute(this.route);
  },
  watch:{
    position(){
      this.updateScroll(this.position, this.oldY);
      this.oldY = this.position;
    },
    route(){
      this.updateRoute(this.route);
    }
  },
  methods: {
    updateRoute(newRoute){
      if (newRoute == 'Home'){
        this.selected = 'Home';
      } else if (newRoute == 'DrinksOnMe'){
        this.selected = 'Drinks on Me'
      } else if (newRoute == 'Drift'){
        this.selected = 'Drift VR';
      } else if (newRoute == 'Jupiter'){
        this.selected = 'Jupiter';
      } else if (newRoute == 'PIMSMobile'){
        this.selected = 'PIMS Mobile';
      } else if (newRoute == 'PIMSSafety'){
        this.selected = 'PIMS Safety';
      } else {
        this.selected = "";
      }
    },
    updateScroll(dy, y){
      if (dy <= 70){
        if (this.visible){
          this.close();
          this.updateRoute(this.route);
        }
      } else {
        if (dy < y && this.visible){
          //this.close();
        } else if (dy > y && this.visible == false){
          this.updateRoute(this.route);
          this.open();
        }
      }
    },
    close(){
      this.visible = false;
      var background = document.getElementById('app-bar-background');
      anime({
        targets: background,
        duration: 150,
        opacity: 0.0,
        //translateY: -58,
        easing: 'linear',

      });
    },
    open(){
      this.visible = true;
      var background = document.getElementById('app-bar-background');
      anime({
        targets: background,
        duration: 150,
        opacity: 1.0,
        //translateY: 58,
        easing: 'linear',
      });
    }
  }
}
</script>

<style lang="scss">
.app-bar{
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 9000;
  left: 0px;
  top: 0px;
}

.app-bar-background{
  width: 100%;
  height: 100%;
  opacity: 0.0;
  //top: -60px;
  left: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: #090D12;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sidenav-trigger{
  height: 100% !important;
}

.page-title-container{
  margin-left: 58px;
  h6{
    opacity: 0.9;
  }
}

.touch-padding{
  width: 200px;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-icon-container{
  background-image: url('~@/assets/images/hamburger@2x.png');
  width: 24px !important;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 0.9;
  margin-left: 15px;
  cursor: pointer;
}

.menu-row{
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

</style>
