<template>
  <div class="art-page">
    <div id="water-container">
      <PhotoCard v-bind:image="'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/art%2Fwater-compressor.jpg?alt=media&token=307ce3bc-50ce-4c41-9d4a-4563e3aae0ca'" v-bind:id="'art-water'"/>
    </div>
    <div id="train-container">
      <PhotoCard v-bind:image="'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/art%2Ftrain-compressor.jpg?alt=media&token=5863be00-e504-4f40-9c28-b9b68bb56edd'" v-bind:id="'art-train'"/>
    </div>
    <div class="max-width-row sub-images">
      <div id="ufo-container">
        <PhotoCard v-bind:image="'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/art%2Fufo2-compressor.jpg?alt=media&token=cfda1937-9e2a-4b1f-82a5-00b7b8d5e897'" v-bind:id="'art-ufo'"/> 
      </div>
      <div id="old-port-container">
        <a href="https://stormy-wave.herokuapp.com">
          <PhotoCard v-bind:image="'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/art%2Fportfolio.jpg?alt=media&token=73095fec-7285-48ef-8320-89577cf70c52'" v-bind:id="'art-portfolio'"/>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import PhotoCard from '@/components/PhotoCard.vue'
export default {
  name: 'Artwork',
  props:{
    imagePaths: Array,
  },
  components: {
    PhotoCard
  }
}
</script>

<style lang="scss">

.art-page{
  width: 100%
}

.sub-images{
  margin-top: 10px;
}

#train-container{
  height: 580px;
  width: 100%;
  max-height: 620px;
}
#water-container{
  height: 540px;
  width: 100%;
  max-height: 620px;
  margin-bottom: 10px;
}
#old-port-container{
  height: 290px;
  width: 50%;
  cursor: pointer;
}
#ufo-container{
  height: 290px;
  width: 50%;
  margin-right: 10px;
}

@media only screen and (max-width: 900px) {
  #train-container{
    height: 420px;
  }
  #water-container{
    height: 400px;
  }
  #old-port-container{
    height: 250px;
  }
  #ufo-container{
    height: 250px;
  }
}

@media only screen and (max-width:700px) {
  .sub-images{
    flex-direction: column !important;
  }
  #old-port-container{
    height: 380px;
    width: 100%;
  }
  #ufo-container{
    height: 380px;
    width: 100%;
    margin-bottom: 10px;
  }
  #water-container{
    height: 340px;
    width: 100%;
  }
}

@media only screen and (max-width:600px) {
  .sub-images{
    flex-direction: column !important;
  }
  #train-container{
    height: 230px;
    width: 100%;
  }
  #water-container{
    height: 220px;
    width: 100%;
  }
  #old-port-container{
    height: 230px;
    width: 100%;
    margin-bottom: 10px;
  }
  #ufo-container{
    height: 230px;
    width: 100%;
    margin-right: 0px;
  }
}
</style>
