<template>
  <div class="image-caro-container" id="app-selection-carousel">
    <div class="carousel">
      <div class="carousel-item" v-for="(image, index) in paths" :key="image">
        <PhotoCard v-bind:image="image" v-bind:id="id + '-' + index"/>
      </div>
    </div>
  </div>
</template>

<script>
import PhotoCard from '@/components/PhotoCard.vue'
import 'materialize-css';
import 'materialize-css/dist/css/materialize.min.css';

export default {
  name: 'Carousel',
  props:{
    paths: Array,
    id: String,
  },
  components: {
    PhotoCard
  },
  data() {
    return {
      instance: Object,
      callback: Function,
      inLoop: Boolean
    }
  },
  mounted(){
    var carousel = document.getElementById('app-selection-carousel');
    carousel.addEventListener("mousedown", this.cancelLoop);
    carousel.addEventListener("touchstart", this.cancelLoop);

    window.addEventListener('resize', this.resize);
    
    this.instance = M.Carousel.init(carousel, {});
    this.inLoop = true;
    this.loop();
  },
  destroyed(){
    try {
      var carousel = document.getElementById('app-selection-carousel');
      carousel.removeEventListener("mousedown", this.cancelLoop);
      carousel.removeEventListener("touchstart", this.cancelLoop);
      window.removeEventListener('resize', this.resize);
    } catch(e){

    }
  },
  methods: {
    delay(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    },
    resize(){
      var carousel = document.getElementById('app-selection-carousel');
      this.instance = M.Carousel.init(carousel, {});
    },
    loop(){
      if (this.inLoop){
        this.instance.next();
        this.delay(2000).then(() => this.loop());
      }
    },
    cancelLoop(){
      console.log("canceled loop");
      var _this = this;
      this.inLoop = false;
      this.callback = this.delay(15000).then(() => {
        _this.inLoop = true;
      });
    }
  }
}
</script>

<style lang="scss">

.image-caro-container{
  width: 100%;
  height: 800px;
}

.carousel-item{
  width: 370px !important;
  height: 800px !important;
}

.carousel{
  width: 100% !important;
  height: 800px !important;
  margin: 0px !important;
  //overflow: visible;
}

@media only screen and (max-width:800px) {
  .carousel-item{
    width: 222px !important;
    height: 480px !important;
  }
  .carousel{
    height: 480px !important;
  }
  .image-caro-container{
    width: 100%;
    height: 480px;
  }
}

</style>
