<template>
  <div class="description-template">
    
  </div>
</template>

<script>

export default {
  name: 'DescriptionTemplate',
  props: {
    image: String,
  },
}
</script>

<style lang="scss">
@import '@/global.scss';
.description-template{
  transform: translate(0px, -10vh);
}

</style>
