<template>
  <div class="fancy-footer-container">
    <div class="fancy-footer"></div>
    <div class="footer-contact">
      <div class="max-width-row"> 
        <div class="honor-max-width" id="contact-row">
          <div class="con-column">
            <h1 class="contact-info contact-title">Contact</h1>
            <div class="end-row">
              <h4 class="contact-item">jakecrawford.wilmington@gmail.com</h4>
              <div class="footer-icon" id="email-icon"></div>
            </div>
            <div class="end-row">
              <h4 class="contact-item">850 445 2335</h4>
              <div class="footer-icon" id="phone-icon"></div>
            </div>
            <!--<div class="end-row" id="download-button">
              <h4 class="contact-item">Download Resume</h4>
              <div class="footer-icon" id="download-icon"></div>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import 'materialize-css';
import 'materialize-css/dist/css/materialize.min.css';

export default {
  name: 'FancyFooter',
  data() {
    return {

    }
  },
  mounted(){
    
  },
  methods: {

  },
}
</script>

<style lang="scss">
@import '@/global.scss';

.fancy-footer-container{
  position: relative;
  width: 100%;
  height: 63vh;
  z-index: 0;
}

.fancy-footer{
  position: absolute;
  top: 0px;
  width: 200vw;
  height: 2000px;
  background-image: linear-gradient(to top, #FF2A27 50% , #FFAE5D);
  transform: matrix(1, -0.3, 0, 1, 0, -130);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 -20px 100px 0 rgba(0, 0, 0, 0.863);
}

.footer-contact{
  position: absolute;
  top: 52%;
  right: 0px;
  width: 100%;
}
.contact-info{
  color: white !important;
  text-align: end !important;
  margin: 0px;
  font-size: 18px !important;
  margin-bottom: 0px !important;
  opacity: 0.9;
}
.contact-item{
  color: white !important;
  text-align: end !important;
  margin: 0px;
  font-size: 16px !important;
  margin-bottom: 0px !important;
  opacity: 0.9;
}
.footer-icon{
  width: 20px !important;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 0.3;
  margin-left: 15px;
}
.contact-title{
  font-size: 70px !important;
  margin-bottom: 10px !important;
  opacity: 0.9;
}
.con-column{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.end-row{
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-top: 10px;
}

@media only screen and (max-width:900px) {
  .fancy-footer{
    transform: matrix(1, -0.3, 0, 1, 0, 0);
  }
}

#contact-row{
  justify-content: flex-end;
}
#download-icon{
  background-image: url('~@/assets/images/download@2x.png');
}
#phone-icon{
  background-image: url('~@/assets/images/phone@2x.png');
}
#email-icon{
  background-image: url('~@/assets/images/email@2x.png');
}
#download-button{
  cursor: pointer !important;
} 

@media only screen and (max-width:900px) {
  .footer-contact {
    padding-right: 20px;
    top: 45%;
  }
  
  .contact-item{
    font-size: 16px !important;
  }
  .contact-title{
    font-size: 50px !important;
  }
}

</style>

