<template>
  <div id="slide-out" class="sidenav">
    <div class="menu-layout-container">
      <div class="vertical-scrollview">
        <div class="menu-title">
          <h4>Projects</h4>
          <!--<div class="profile-image"></div>-->>
        </div>
        <div class="menu-item-container" v-for="title in titles" :key="title">
          <div class="menu-item" v-on:click="onPressed(title)">
            <!--<div class="red-indicator" v-bind:class="[selected == title ? 'red-active': '', 'red-indicator']"></div>-->
            <h6 v-bind:class="[selected == title ? 'red-active': '']">{{title}}</h6>
          </div>
        </div>
      </div>
      <!--<div class="spash-button-container max-width-row">
        <button class="btn waves-effect waves-light" name="login-btn" id="message-btn">
          <a>DOWNLOAD RESUME</a>
        </button>
      </div>-->
    </div>
  </div>
</template>

<script>
import 'materialize-css';
import 'materialize-css/dist/css/materialize.min.css';

export default {
  name: 'MenuLayout',
  components: {

  },
  props: {
    route: String,
  },
  data() {
    return {
      selected: String,
      titles: Array,
      instance: Object
    }
  },
  mounted(){
    this.selected = this.route ?? 'Home';
    var menu = document.getElementById('slide-out');
    this.instance = M.Sidenav.init(menu);
    this.titles = [
      'Home',
      'Resume',
      'Drift VR',
      'Drinks on Me',
      'Jupiter',
      'PIMS Mobile',
      'PIMS Safety',
      'Safety Concept',
      'Mobile Concept',
      'Design Standards',
    ];
  },
  methods: {
    onPressed(title){
      if (title == 'Home'){
        this.$router.push({ path: '/', clearHistory: true });
      } else if (title == 'Drinks on Me'){
        this.$router.push({ path: 'drinks-on-me' });
      } else if (title == 'Drift VR'){
        this.$router.push({ path: 'drift' });
      } else if (title == 'Jupiter'){
        this.$router.push({ path: 'jupiter' });
      } else if (title == 'PIMS Mobile'){
        this.$router.push({ path: 'pims-mobile' });
      } else if (title == 'PIMS Safety'){
        this.$router.push({ path: 'pims-safety' });
      } else if (title == 'Old Portfolio'){
        window.open('https://stormy-wave.herokuapp.com','_blank');
      } else if (title == 'Safety Concept'){
        window.open('https://drive.google.com/file/d/1k1lCb1C_-OGtGmtd1decbKEgOPSXzCvq/view?usp=sharing','_blank');
      } else if (title == 'Mobile Concept') {
        window.open('https://drive.google.com/file/d/1JG1kdKR7wtTZmTzC3hb0PThXRn-JbZ_T/view?usp=sharing','_blank');
      } else if (title == 'Design Standards') {
        window.open('https://drive.google.com/file/d/1nVkK4kUqqhJL_VJCKgcNUtvoxtQEzcgT/view?usp=sharing','_blank');
      } else if (title == 'Resume'){
        window.open('https://drive.google.com/file/d/1ppHmig6F69u_I2FiTulB2n2FMo8fyWBt/view?usp=sharing','_blank');
      }
      this.instance.close();
    },
    updateRoute(newRoute){
      if (newRoute == 'Home'){
        this.selected = 'Home';
      } else if (newRoute == 'DrinksOnMe'){
        this.selected = 'Drinks on Me'
      } else if (newRoute == 'Drift'){
        this.selected = 'Drift VR';
      } else if (newRoute == 'Jupiter'){
        this.selected = 'Jupiter';
      } else if (newRoute == 'PIMSMobile'){
        this.selected = 'PIMS Mobile';
      } else if (newRoute == 'PIMSSafety'){
        this.selected = 'PIMS Safety';
      }
    } 
  },
  
  watch:{
    route(){
      this.updateRoute(this.route);
    }
  }
}
</script>

<style lang="scss">
@import '@/global.scss';

.sidenav{
  background-color: #0B0F14 !important;
  z-index: 10000;
}

.menu-layout-container{
  width: 100%;
  height: 100%;
  padding-left: 10px;
  position: relative;
}
.vertical-scrollview{
  padding-left: 10px;
  padding-top: 20px;

}
.menu-title{
  margin-bottom: 20px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  justify-items: space-between;
  h4{
    font-size: 34px !important;
    color: #ED233D !important;
  }
}
.menu-item{
  h6{
    color: #5E6874;
    font-size: 15px;
    cursor: pointer;
  }
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.red-indicator{
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
  opacity: 0.0;
}
.red-active{
  opacity: 1.0 !important;
  color: white !important;
  font-family: "Gilroy" !important;
  font-size: 20px !important;
}
.profile-image{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #424B65;
}
.spash-button-container{
  position: absolute;
  bottom: 30px;
}

#message-btn{
  //background-image: linear-gradient(to right, #47A4B5, #354C67);
  //background-image: linear-gradient(to right, #314264, #2D5EBA);
  background-image: linear-gradient(to right, #FF4040, #9A214B);
}
</style>

