<template>
  <div class="phone-cutout-container" >
    <div class="cutout"></div>
    <div class="hover-color" v-bind:id="this.id + '-hover'" >
      Learn more
    </div>
    <div class="app-screenshot" v-bind:id="this.id">

    </div>
  </div>
</template>

<script>
//v-on:click="navigate"
export default {
  name: 'PhoneCutout',
  props: {
    image: String,
    id: String,
    color: String,
    onClick: Function
  },
  components: {

  },
  mounted(){
    this.loadImage();
    var hover = document.getElementById(this.id + '-hover');
    hover.setAttribute("style", "background-color: rgba($color:" + this.color + ", $alpha: 0.0);");
  },
  methods: {
    navigate(){
      
    this.onClick();
    },
    loadImage(){
      if (this.image == undefined || this.image == "") return;
      var temp = new Image();
      temp.onload = (event)=>{
        var image = document.getElementById(this.id);
        image.setAttribute("style", "background-image: url(" + temp.src + ")");
      }
      temp.src = this.image;
      if (temp.complete) {
        temp.onload();
      }
    }
  },
}
</script>

<style lang="scss">
.phone-cutout-container {
  width: 343px;
  height: 744px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 20px;
  margin-right: 0px;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 0;
}
.cutout{
  background-image: url('~@/assets/images/cutout@2x.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 343px;
  height: 744px;
  position: absolute;
  z-index: 2;
  transition: all 2s;
}
.app-screenshot{
  background-image: url('~@/assets/images/drift@3x.png');
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 343px;
  height: 744px;
  position: absolute;
  z-index: 0;
  border-radius: 60px;
}
.hover-color{
  width: 343px;
  height: 740px;
  position: absolute;
  z-index: 1;
  border-radius: 60px;
  transition: all 0.4s;
  background-color: rgba($color: #153A65, $alpha: 0.0);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  font-family: "Gilroy";
  opacity: 0;
}
.phone-cutout-container:hover > .hover-color { 
  background-color: rgba($color: #080C19, $alpha: 0.80); 
  opacity: 1;
}
.phone-cutout-container:hover { 
  //transform: scale(1.25, 1.25);
  //z-index: 500;
}
img{
  width: 100px;
  height: 100px;
  background-color: red;
  z-index: 1000;
}
</style>